<html>
    <head>
        <title>
           Blog App
        </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        
<div class="ui menu">
    <div class="header item">
        <i class="lightbulb outline icon"></i>The Blog App
    </div>
    <a class="item" href="/blogs">
        Home
    </a>
    <a class="item" href="/blogs/new">
        Create a blog
    </a>
</div>