<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" required name="blog[title]" placeholder="Title">
        </div>

        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image URL">
        </div>
        
        <div class="field">
            <label>Content</label>
            <textarea required name="blog[body]" cols="30" rows="10"></textarea>
        </div>
        
        <button class="ui primary basic button">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>